@{
    string cor = "color:white";
    string resultado = "";
    if (@ViewBag.Tipo == 1)
    {
        resultado = "success";
    }
    else if (@ViewBag.Tipo == 2)
    {
        resultado = "warning";
    }
    else if (@ViewBag.Tipo == 3)
    {
        resultado = "primary";
    }
    else if (@ViewBag.Tipo == 0)
    {
        resultado = "danger";
        cor = "color:#a94442";
    }
    else
    {
        resultado = "default";
    }
}

<div class="modal fade @resultado" id="dvModalMensagem">
    <div class="modal-dialog @resultado">
        <div class="panel panel-@resultado">
            <div class="panel-heading">
                <h4 class="modal-title" style="@cor">@ViewBag.Titulo</h4>
            </div>
            <div class="panel-body">
                <p>@ViewBag.Mensagem</p>
            </div>
            <div class="panel-footer" style="text-align:right;">
                <button type="button" class="btn btn-@resultado" data-dismiss="modal" id="btnOkMsg">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).keyup(function (e) {
        if (e.keyCode == 27) {
            $("#dvModalMensagem").modal('hide');
        }
    });
</script>